@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-primary: "Work Sans", sans-serif;

  --font-weight-regular: 400;
  --font-weight-medium: 600;
  --font-weight-bold: 700;

  --font-size-small: clamp(0.875rem, 0.831rem + 0.19vw, 1rem);
  --font-size-medium: clamp(1rem, 0.956rem + 0.19vw, 1.125rem);
  --font-size-large: clamp(2rem, 1.472rem + 2.25vw, 3.5rem);

  --color-white: hsl(0, 0%, 100%);

  --color-dark-purple: hsl(292, 42%, 14%);
  --color-pink: hsl(281, 83%, 54%);
  --color-light-pink: hsl(275, 100%, 97%);
  --color-pale-purple: hsl(292, 16%, 49%);
}

/* global reset */
*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* general styles */

body {
  padding-inline: 1.5rem;
  padding-block: 8.906rem;
  padding-block: clamp(8.906rem, 20vw, 10.469rem);
  font-family: var(--font-primary);
  background-color: var(--color-light-pink);
  position: relative;
}

hr {
  border: 0;
  border-top: 1px solid var(--color-light-pink);
  margin-block: clamp(1.25rem, 5%, 1.5rem);
}

.bg-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 14.5rem;
  background-image: url(../images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* accordioj styles */
.accordion {
  background-color: var(--color-white);
  border-radius: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: clamp(1.5rem, 5%, 2.5rem);
  filter: drop-shadow(0px 10px 56px hsla(281, 100%, 23%, 0.1));
}

.title {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-block-end: 2rem;
}
.title h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  color: var(--color-dark-purple);
}

.answer {
  margin-block-start: 1.5rem;
}

summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  outline: none;
}
summary::-webkit-details-marker,
summary::marker {
  display: none;
  content: '';
}

/* Efecto hover y focus */
summary:where(:hover, :focus-within) .question {
  color: var(--color-pink);
}

/* SVG styles */
summary::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" fill="none" viewBox="0 0 30 31"><path fill="%23AD28EB" d="M15 3.313A12.187 12.187 0 1 0 27.188 15.5 12.203 12.203 0 0 0 15 3.312Zm4.688 13.124h-3.75v3.75a.938.938 0 0 1-1.876 0v-3.75h-3.75a.938.938 0 0 1 0-1.875h3.75v-3.75a.938.938 0 0 1 1.876 0v3.75h3.75a.938.938 0 0 1 0 1.876Z"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: transform 0.3s ease, background-image 0.3s ease;
  flex-shrink: 0;
}

details[open] summary::after {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" fill="none" viewBox="0 0 30 31"><path fill="%23301534" d="M15 3.313A12.187 12.187 0 1 0 27.188 15.5 12.2 12.2 0 0 0 15 3.312Zm4.688 13.124h-9.375a.938.938 0 0 1 0-1.875h9.374a.938.938 0 0 1 0 1.876Z"/></svg>');
  transform: rotate(180deg);
}

.question {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
  color: var(--color-dark-purple);
  flex: 1;
  margin-right: 1.5rem;
  word-wrap: break-word;
}

.answer p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  color: var(--color-pale-purple);
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (width >= 768px) {

  .bg-pattern {
    height: 20rem;
    background-image: url(../images/background-pattern-desktop.svg);
  }

}
